html {
    height: 100%;
    width: 100%;
    background-image: url('http://d3rl9k0c1p2vl5.cloudfront.net/assets/resized/sm/upload/tz/u1/zh/tg/Get%20Up%20Stand%20Up%202000PX-600-600-600-600-crop-1.jpg?k=b193d9797e');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}